@use './quasar-custom';

html {
  scroll-behavior: smooth;
}

:root {
  --portfolio-background: #353232;
  --portfolio-text: #dcdddd;
}

body.body--light {
  --portfolio-background: #eeeeeea2;
  --portfolio-text: #172033;
}

body {
  margin: 0;
  background-color: var(--portfolio-background) !important;
  color: var(--portfolio-text) !important;
  font-family:
    Poppins,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: $primary;
  color: $grey-1;
}

